header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#logo{
    margin-top: 50px;
    height: 50px;
}

h1{
    margin-bottom: 5px;
}

.grey-text{
    color: grey;
    margin-bottom: 20px;
}

#authors{
    color: rgb(31, 146, 146);
}

ul{
    padding: 15px;
}

table{
    border-spacing: 0;
}

thead{
    text-align: left;
    color: white;
    background-color: rgb(31, 146, 146);
}

.table-row{
    width: 25%;
}

.bg-acquamarina{
    background-color: aquamarine;
}

.marked-content{
    background-color: yellow;
}

#monitor{
    color: white;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    width: 300px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
}

#graph{
    color: white;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    width: 300px;
    height: 200px;
    background-image: url(../img/graph.jpg);
}